<div class="devise-form">
  <div class="w-full rounded px-4">
    <h2 class="text-center text-xl">ユーザー編集</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%if guest_user? %>
        <%= render 'edit_guest_user', f: f %>
      <% else %>
        <%= render 'edit_normal_user', f: f %>
      <% end %>
    <% end %>

    <%if guest_user? %>
      <p class="mt-6 block">
        <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,disabled: true, class: "font-light underline hover:text-black cursor-not-allowed" %>
      </p>
    <% else %>
      <p class="block mt-6">
        <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, class: "font-light underline hover:text-black" %>
      </p>
    <% end %>

    <div class="mt-10 mb-4">
      <%= link_to "戻る", :back, class:"text-lg font-light rounded" %>
    </div>
  </div>
</div>
