<li id="favorite_post-<%= favorite_favorite_post.id %>">
  <span class=""><%= favorite_post.name %></span>
  <span class=""><%= favorite_post.content %></span>
  <span class=""><%= favorite_post.protein %>グラム</span>
  <span class=""><%= favorite_post.fat %>グラム</span>
  <span class=""><%= favorite_post.carbo %>グラム</span>
  <span class=""><%= favorite_post.calorie %>グラム</span>
  <% if favorite_post.image? %>
    <%= image_tag favorite_post.image.url %>
  <% end %>
  <% if user_signed_in? %>
    <p><span>お気に入り数: </span><%= favorite_post.favorites.count %></p>
    <% if favorite_post.favorited_by?(current_user) %>
      <%= link_to "お気に入り解除", post_favorites_path(post.id), method: :delete %>
    <% else %>
      <%= link_to "お気に入り", post_favorites_path(post.id), method: :post %>
    <% end %>
  <% else %>
    <p><span>お気に入り数: </span><%= post.favorites.count %></p>
  <% end %>

  <%= link_to "詳細", post_path(post) %>
  <% if user_signed_in? && post.user == current_user  %>
    <%= link_to "編集", edit_post_path(post) %>
    <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>
