<% provide(:title, 'ユーザー一覧') %>

<div class="mt-6 my-4">
  <h1 class="text-center text-xl mb-4">ユーザー一覧</h1>
    <div class="search-form flex">
      <%= search_form_for @q, url: search_users_path do |f| %>
        <i class="fas fa-search fa-lg"></i>
        <%= f.search_field :name_cont, placeholder: "ユーザー名", class: "mb-3 px-4 py-2 border border-gray-300 shadow-sm rounded" %>
        <%= f.submit '検索', class: "search" %>
      <% end %>
    </div>
    <div class="users">
      <ul class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-2">
        <%= render @users %>
      </ul>
    </div>
</div>
<%= paginate @users %>
