<div class="mt-6 my-4">
  <h1 class="text-center text-xl mb-4">食事記録</h1>
  <div>
    <%= month_calendar events: @meal_records do |date, events| %>
      <div class="calendar-date">
        <%= date.day %>
      </div>
      <ul class="flex flex-col mx-auto mt-4">
        <% events.each_with_index do |event, i| %>
            <li class="text-center text-xs mb-2 underline hover:text-green-600">
              <%= link_to @posts[i].name, post_path(event.post_id) %>
            </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <%= @sum_protein %>
  <%= @average_protein %>
</div>
