<%= month_calendar events: @meal_records do |date, events| %>
	<%= date.day %>
	<% events.each_with_index do |event, i| %>
    <ul>
      <li class="text-center">
        <%= link_to @posts[i].name, post_path(event.post_id) %>
      </li>
    </ul>
	<% end %>
<% end %>

<%= @sum_protein %>
<%= @average_protein %>
