<% if current_user == @user %>
  <% provide(:title, 'マイページ') %>
<% else %>
  <% provide(:title, "#{@user.name}さん") %>
<% end %>

<div class="grid lg:grid-cols-4">
  <div class="user-info col-span-1 container mx-auto w-64">
    <div class="user-image justify-items-center mt-6 w-64 justify-center">
      <%= render 'shared/user_image', user: @user %>
    </div>
    <div class="text-center text-gray-700 text-xl font-bold mt-3">
      <%= @user.name %>
    </div>
    <div class="user-follow text-center m-3">
      <%=link_to "フォロー中", follows_user_path(@user.id), class: "inline-block px-3 py-2 border rounded-full bg-green-500 text-white" %>
      <%=link_to "フォロワー", followers_user_path(@user.id), class: "inline-block px-3 py-2 border rounded-full bg-green-500 text-white" %>
    </div>
    <% if current_user != @user %>
      <div id="js-follow-<%= @user.id %>" class="text-center mb-4">
        <%= render partial: "relationships/relationship", locals: {user: @user} %>
      </div>
    <%else %>
      <div>
        <div class="text-center flex flex-col">
          <div class="my-2">
            <%= link_to favorites_user_path,class: "inline-block px-3 py-2 rounded border border-gray-200 hover:border-green-500 md:w-3/4" do %>
              <i class="fas fa-star fa-lg fill-current text-gray-400 mr-2 inline-block"></i>いいねした投稿
            <% end %>
          </div>
          <div class="my-2">
            <%= link_to meal_records_user_path(current_user),class: "inline-block px-3 py-2 rounded border border-gray-200 mr-2 hover:border-green-500 md:w-3/4" do %>
              <i class="far fa-calendar-alt fa-lg fill-current text-gray-400 mr-2 inline-block"></i>食事記録
            <% end %>
          </div>
          <div class="my-2">
            <%= link_to browsing_histories_user_path, class: "inline-block px-3 py-2 rounded border border-gray-200 hover:border-green-500 md:w-3/4" do %>
              <i class="fas fa-history fa-lg fill-current text-gray-400 mr-2 inline-block"></i>閲覧履歴
            <% end %>
          </div>
        </div>
        <div class="text-center my-2">
          <%= link_to 'ユーザー情報編集', edit_user_registration_path, class: "inline-block text-yellow-500 bg-white border border-yellow-500 hover:text-white hover:bg-yellow-500 font-base px-4 py-2 mt- rounded text-base" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="posts-info lg:col-span-3">
    <% if @user.posts.any? %>
      <ol class="posts grid sm:grid-cols-3 grid-cols-2 gap-y-3">
        <%= render @posts %>
      </ol>
      <%= paginate @posts %>
    <% end %>
  </div>
</div>
