<li class="flex p-3 border-b border-gray-300">
  <% if popular_post.image? %>
    <%= image_tag popular_post.image.url, size: "150x150" %>
  <% end %>
  <div class="ml-4">
    <p class="font-bold underline"><%= link_to popular_post.name, post_path(popular_post), class: "hover:text-green-600"%></p>
    <p class="text-sm h-6"><%= popular_post.content.truncate(20) %></p>
    <span><i class="fas fa-star fa-lg fill-current text-yellow-500"></i><%= popular_post.favorites.count %></span>
    <span class="ml-6"><i class="far fa-user mr-2"></i><%= link_to popular_post.user.name, user_path(popular_post.user), class: "hover:text-green-600" %></span>
  </div>
</li>
