<div class="mt-6">
  <div class="top-section grid md:grid-cols-2">
    <div class="top-left mx-auto" style="max-width: 400px">
      <%= image_pack_tag 'media/images/top-section.png' %>
    </div>
    <div class="top-right text-black text-center mt-4 md:my-auto">
      <div>
        <h1 class="text-6xl font-bold">REPIHAPI</h1>
        <div class="description mt-4">
          <p>REPIHAPIは、健康になりたい人のためのレシピサイトです。</p>
          <p>
            「食事の献立を考える」<br>
            「栄養素やカロリーを計算する」<br>
            「食べたものを記録・管理する」<br>
          </p>
          <p>上記の面倒なことがこのサイトですべて解決します。</p>
        </div>
        <div class="links mt-6 mx-auto">
          <%= link_to 'サインアップ', new_user_registration_path, class: "inline-block py-3 px-4 text-white text-lg text-center border border-solid bg-orange-500 border-orange-400 rounded hover:bg-orange-600" %>
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "inline-block py-3 px-4 text-white text-lg text-center border border-solid bg-green-500 border-green-500 rounded hover:bg-green-600" %>
        </div>
      </div>
    </div>
  </div>
  <div class="info-section m-10">
    <div class="popular-posts">
      <h2 class="text-lg text-center font-bold mb-2">人気の投稿</h2>
      <ul>
        <div class="slider">
          <% @popular_posts.each do |popular_post| %>
              <%= render "posts/post", post: popular_post %>
          <% end %>
        </div>
      </ul>
    </div>
    <div class="latest-posts mt-10">
      <h2 class="text-lg text-center font-bold mb-2">新着の投稿</h2>
      <div class="slider">
          <% @latest_posts.each do |latest_post| %>
              <%= render "posts/post", post: latest_post %>
          <% end %>
      </div>
    </div>
    <div class="grid md:grid-cols-2">
      <div class="left mt-6">
        <div class="tags mx-auto">
          <h2 class="mb-2 text-center font-bold text-lg">タグ</h2>
          <% @tags.each do |tag| %>
            <span class="inline-block my-2 px-3 py-1 border border-green-600 rounded cursor-pointer hover:text-white hover:bg-green-500">
              <%= link_to "##{tag.name}", tag_path(tag) %>
            </span>
          <% end %>
          <%= link_to "もっと見る", tags_path, class:"btn mt-4 inline-block" %>
        </div>
        <% if user_signed_in? %>
          <div class="mt-6">
            <h2 class="mb-2 text-center font-bold text-lg">フォロー中のユーザーの投稿</h2>
            <% @following_posts.each do |following_post| %>
              <%= render "posts/post", post: following_post %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="right mx-auto mt-6">
        <%= render 'meal_records' %>
      </div>
    </div>
  </div>
</div>
