<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field my-4">
    <%= f.label :name, class: "block text-gray-700 text-base font-light mb-2" %>
    <%= f.text_field :name, autofocus: true, class: "block w-full px-3 py-2 border border-gray-300 shadow-sm rounded" %>
  </div>

  <div class="field">
    <%= f.text_area :content, class: "block w-full px-3 py-2 border border-gray-300 shadow-sm rounded" %>
  </div>

  <%= f.label :image, class: "block text-gray-700 text-base font-light mb-2" %>
  <%= f.file_field :image %>

  <%= f.label :tag, class: "block text-gray-700 text-base font-light mb-2" %>
  <%= f.text_field :tag_names, value: @tags, class: "block w-full px-3 py-2 border border-gray-300 shadow-sm rounded" %>

  <div class="field">
    <%= f.label :protein, class: "block text-gray-700 text-base font-light mb-2" %>
    <%= f.number_field :protein, step: "0.1", class: "block w-full px-3 py-2 border border-gray-300 shadow-sm rounded" %>
  </div>

  <div class="field">
    <%= f.label :fat, class: "block text-gray-700 text-base font-light mb-2" %>
    <%= f.number_field :fat, step: "0.1", class: "block w-full px-3 py-2 border border-gray-300 shadow-sm rounded" %>
  </div>

  <div class="field">
    <%= f.label :carbo, class: "block text-gray-700 text-base font-light mb-2" %>
    <%= f.number_field :carbo, step: "0.1", class: "block w-full px-3 py-2 border border-gray-300 shadow-sm rounded" %>
  </div>

  <div class="field">
    <%= f.label :calorie, class: "block text-gray-700 text-base font-light mb-2" %>
    <%= f.number_field :calorie, step: "0.1", class: "block w-full px-3 py-2 border border-gray-300 shadow-sm rounded" %>
  </div>

  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
