<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <h2>基本情報</h2>
    <div class="field my-4">
      <%= f.label :name, class: "block text-gray-700 text-base font-light mb-2" %>
      <%= f.text_field :name, autofocus: true, class: "block w-full px-3 py-2 border border-gray-300 shadow-sm rounded" %>
    </div>

    <div class="field">
      <%= f.text_area :content, class: "block w-full px-3 py-2 border border-gray-300 shadow-sm rounded" %>
    </div>

    <div>
      <%= f.label :image, class: "block text-gray-700 text-base font-light mb-2" %>
      <%= f.file_field :image%>
      <%= f.hidden_field :image_cache %>
    </div>

    <%= f.label :tag, class: "block text-gray-700 text-base font-light mb-2" %>
    <%= f.text_field :tag_names, value: @tags, class: "block w-full px-3 py-2 border border-gray-300 shadow-sm rounded" %>

  <h2>材料</h2>
    <%= f.number_field :serve, min: 1 %>食分

  <div id="ingredients">
    <%= f.fields_for :ingredients do |ingf| %>
      <%= render 'ingredient_fields', f: ingf %>
    <% end %>
    <div class="links">
      <%= link_to_add_association '追加', f, :ingredients, data: { association_insertion_method: 'before'} %>
    </div>
  </div>
  <div id="recipes">
    <%= f.fields_for :recipes do |form| %>
      <%= render 'recipe_fields', f: form %>
    <% end %>
    <div class="links">
      <%= link_to_add_association '追加', f, :recipes, data: { association_insertion_method: 'before'} %>
    </div>
  </div>

  <div class="field">
    <%= f.label :protein, class: "block text-gray-700 text-base font-light mb-2" %>
    <%= f.number_field :protein, min: 0, step: "0.1", class: "block w-full px-3 py-2 border border-gray-300 shadow-sm rounded" %>
  </div>

  <div class="field">
    <%= f.label :fat, class: "block text-gray-700 text-base font-light mb-2" %>
    <%= f.number_field :fat, min: 0, step: "0.1", class: "block w-full px-3 py-2 border border-gray-300 shadow-sm rounded" %>
  </div>

  <div class="field">
    <%= f.label :carbo, class: "block text-gray-700 text-base font-light mb-2" %>
    <%= f.number_field :carbo, min: 0, step: "0.1", class: "block w-full px-3 py-2 border border-gray-300 shadow-sm rounded" %>
  </div>

  <div class="field">
    <%= f.label :calorie, class: "block text-gray-700 text-base font-light mb-2" %>
    <%= f.number_field :calorie, min: 0, class: "block w-full px-3 py-2 border border-gray-300 shadow-sm rounded" %>
  </div>

  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
