<li id="post-<%= post.id %>">
  <span class=""><%= post.name %></span>
  <span class=""><%= post.content %></span>
  <span class=""><%= post.protein %>グラム</span>
  <span class=""><%= post.fat %>グラム</span>
  <span class=""><%= post.carbo %>グラム</span>
  <span class=""><%= post.calorie %>グラム</span>
  <% if post.image? %>
    <%= image_tag post.image.url %>
  <% end %>
  <%= link_to "詳細", post_path(post) %>
  <% if user_signed_in? && post.user == current_user  %>
    <%= link_to "編集", edit_post_path(post) %>
    <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>
