<%= paginate @posts %>

<div class="mt-6">
  <h2 class="text-center text-xl font-base mb-4 text-gray-700">投稿一覧</h2>
    <%= search_form_for @q, url: search_posts_path do |f| %>
      <%= f.label :name_cont, 'レシピ名' %>
      <%= f.search_field :name_cont %>
      <%= f.submit '検索' %>
    <% end %>
  <ul class="posts grid grid-cols-2 md:grid-cols-4 gap-2">
    <%= render @posts %>
  </ul>
</div>

<%= paginate @posts %>
