<span class=""><%= @post.name %></span>
<span class=""><%= @post.content %></span>

  <% if @post.image? %>
    <%= image_tag @post.image.url %>
  <% end %>

<span class=""><%= @post.protein %></span>
<span class=""><%= @post.fat %></span>
<span class=""><%= @post.carbo %></span>
<span class=""><%= @post.calorie %></span>

<% if user_signed_in? && @post.user == current_user  %>
  <%= link_to "編集", edit_post_path(@post) %>
  <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>
