<header class="text-gray-600 body-font border-b border-gray-300">
  <div class="container py-2 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4">
      <span class="mx-3 text-3xl">REPIHAPI</span>
    </a>
    <nav class="ml-auto flex flex-wrap items-center justify-center my-2">
        <%= link_to 'ホーム', root_path, class: "py-2 px-4 hover:text-gray-900" %>
      <% if user_signed_in? %>
        <%= link_to 'ユーザー一覧', users_path, class: "py-2 px-4 hover:text-gray-900" %>
        <%= link_to 'マイページ', user_path(current_user), class: "py-2 px-4 hover:text-gray-900" %>
        <%= link_to '新規投稿', new_post_path, class: "py-2 px-4 hover:text-gray-900" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "py-2 px-4 hover:text-gray-900" %>
        <%= link_to '通知', notifications_path %>
      <% else %>
        <%= link_to 'サインアップ', new_user_registration_path, class: "py-2 px-4 m-2 hover:text-gray-900" %>
        <%= link_to 'ログイン', new_user_session_path, class: "py-2 px-4 m-2 text-green-600 hover:text-green-900" %>
        <%= link_to 'かんたんログイン', users_guest_sign_in_path, method: :post, class: "py-2 px-4 m-2 text-green-600 text-center border border-solid border-green-600 rounded hover:bg-green-600 hover:text-white" %>
      <% end %>
    </nav>
  </div>
</header>
