<!DOCTYPE html>
<html>
  <head>
    <title>Repihapi</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-gray-700 text-base">
    <%= render 'layouts/header' %>
    <div class="container mx-auto mt-6">
      <%= render 'layouts/flash_message'%>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
